<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            LOGO
        </div>
        <ul>
            <li scroll-to='services'><a href="">services</a></li>
            <li scroll-to='work'><a href="">Work</a></li>
            <li scroll-to='clients'><a href="">Clients</a></li>
            <li scroll-to='contact'><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="hero">
        <div class="vertical-center">
            <div>
                <h5 class='text-center display-pre'>LUXURY CINEMATOGRAPHY</h5>
                <h1 class='display-text text-center'>One Of A Kind</h1>
            </div>
        </div>
    </div>
    <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>We Are The Best</h6>
            <h1 class='display-text-2'>Literally & Figuratively</h1>
        </div>
    </div>

    <div class='breathe' id='services'>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="three columns text-center">
                    <h5 class='display-text-sm bold'>MUSIC VIDEOS</h5>
                    <p>Get yourself recognized with our out of the box music video production.</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">
                    <h5 class='display-text-sm bold'>WEDDINGS</h5>
                    <p>Get yourself recognized with our out of the box music video production.</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">
                    <h5 class='display-text-sm bold'>CINEMATIC TRAILERS</h5>
                    <p>Get yourself recognized with our out of the box music video production.</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">
                    <h5 class='display-text-sm bold'>REAL ESTATE</h5>
                    <p>Get yourself recognized with our out of the box music video production..</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class='dark text-center breathe section'>
        <div>
            <h6 class="display-text-2-pre">one of the world's most</h6>
            <h1 class="display-text-2">internationally & critically acclaimed</h1>
        </div>
    </div>
    <div class='breathe' id='work'>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="five columns">
                    <div class="img-placeholder"></div>
                </div>
                <div class="five columns">
                    <h5 class='display-text-2-pre'>International</h5>
                    <h1  class='display-text-2'>Lorem ipsum dolor sit amet.</h1>
                    <br />
                    <p class="line-height-3">
                        Jianbing pour-over post-ironic vape poutine chicharrones plaid iPhone. Ramps vinyl wolf shoreditch. Swag disrupt lomo put a bird on it kombucha. Freegan fam umami wayfarers gentrify. Paleo four loko lomo forage williamsburg, kinfolk hell of.
                    </p>
                    <br />
                    <a href="" class="btn btn-primary">VIEW Our Work Now</a>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="five columns">
                    <h5 class='display-text-2-pre'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, at!</h5>
                    <h1 class='display-text-2'>Lorem ipsum dolor sit amet.</h1>
                    <br />
                    <p class='line-height-3'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi dolorem libero incidunt delectus qui beatae optio animi, dignissimos nulla tempore facere deleniti error nisi, quisquam laborum impedit sapiente a voluptates.</p>
                    <br />
                    <a href="" class="btn btn-primary">See More</a>
                </div>
                <div class="five columns">
                    <div class="img-placeholder"></div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
      <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>check out some of</h6>
            <h1 class='display-text-2'>our fantastic clients</h1>
        </div>
    </div>
    <div id="clients" class='breathe'>
        <div class="row">
            <div class="twelve columns">

            </div>
        </div>
    </div>
          <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>contact us now</h6>
            <h1 class='display-text-2'>current booking for 2020</h1>
        </div>
    </div>
    <div class="breathe">
        <h5>video</h5>
    </div>
    <div id="contact" class='breathe'>
        <div class="container">
            <div class="row">
                <div class="six columns  offset-by-three">
                    <form action="">
                        <div class="row">
                            <div class="six columns">
                                <div class="form-input">
                                    <label for="">First Name</label>
                                    <input class="u-full-width" type="text" placeholder='first name'/>
                                </div>
                            </div>
                            <div class="six columns">
                                <div class="form-input">
                                    <label for="">Last Name</label>
                                    <input class="u-full-width" type="text" placeholder='last name'/>
                                </div>
                            </div>
                            <div class="twelve columns">
                                <div class="form-input">
                                    <label for="">Email</label>
                                    <input class="u-full-width" type="text" placeholder='email' />
                                </div>
                                <div class='form-input'>
                                    <label for="">Message</label>
                                    <textarea class="u-full-width" type="submit" placeholder='message'></textarea>
                                </div>
                            </div>
                            <div class="twelve columns">
                                <div class="form-input">
                                    <input class="button-primary u-full-width"  type="submit"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
    <div class="copyright">
        <div class="container">
            <span>Designed By <b class='text-primary'>SUPERIOR CREATIVITY - WEB/BRANDING</b></span>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js'></script>
    <script src='/js/main.js'></script>
</body>
</html>